<h2> Search  <input type="text" name="search"
		[(ngModel)]="searchTerm"
		#search = "ngModel"
		(keyup)="searchListing()"> </h2>

<div class="listing">
	<div class="inside" *ngFor=" let listing of listings">
		<div class="left">
			<p> Image </p>

		</div>
		<div class="middle">
			<h1>{{listing.title}}  </h1>
			<p>{{listing.desc}}</p>
		</div>

		<div class = "right">
			<h1> $ {{listing.price}} </h1>
				<p>{{ listing.location}}</p>
			<P *ngIf="currentUser==listing._user"><button  (click)="contact()"> CONTACT </button></P>
			<P *ngIf="currentUser!=listing._user"><button (click)="deleteEvent(listing._id)"> DELETE </button></P>
		</div>

	</div>
